/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f8f7;  /* Soft teal background */
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    background-color: #ffffff;  /* White background */
}

/* Hide navigation links when width < 1000px */
@media (max-width: 1000px) {
    .navbar-nav {
        display: none;  /* Hide all navigation links */
    }

    /* Make the search bar and button resize dynamically */
    #search-form {
        width: 100%;
        justify-content: center;
    }

    #search-input {
        width: 20%;  /* Make the search input take up 80% of the available width */
        margin-right: 10px;
    }

    #search-button {
        width: 5%;  /* Button will take 15% of the available width */
        padding: 5px;
    }
}

/* Display navigation links when width >= 1000px */
@media (min-width: 1000px) {
    .navbar-nav {
        display: flex;  /* Show the navigation links */
    }

    .navbar-nav {
        display: none;  /* Hide the search bar when width is >= 1000px */
    }
}
