{% extends 'blog_app/layout.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-light">All Blogs</h1>
    <div class="text-right mb-3">
        <a href="{% url 'blog_create' %}" class="btn btn-primary">Write a New Blog</a>
    </div>
    {% for blog in blogs %}
    <div class="blog-post mb-4 p-4 bg-dark text-light rounded">
        <img src="{{ blog.image.url }}" alt="Blog Image" class="img-fluid rounded">
        <h2 style="padding: 40px;" class="text-center text-light">{{ blog.title }}</h2>
        <p class="text-light text-center">{{ blog.content }}</p>
        <p class="text-muted"><strong>Comments:</strong> {{ blog.comments }}</p>
        <p class="text-muted"><em>Posted on {{ blog.created_at }}</em></p>
    </div>
    {% empty %}
    <p class="text-light">No blogs yet. Be the first to write one!</p>
    {% endfor %}
</div>
{% endblock %}
